body{
    background-color: aliceblue ;

    margin-left: 400px;
    
    margin-right: 400px; 

    text-align: justify;

    font-family: 'Roboto Slab', serif;

   

}

img{	

  display: block;
  width: 40%	

}

p{
    color:#696969;

    font-weight: 350;
}

h1{
    
    color:#696969;

    font-weight: 350;

}

.darkbutton {
    font-family: 'Roboto Slab', serif;
    background-color: #333; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;       
  
  
  }
  
  .darkbutton:hover{
  
    background-color: #111;
  
  
  }

  .btTxt{
    max-width: 8%;
    height: auto;
  }

  .cart{

    max-width: 7%;
    height: auto;


  }

  .cart1{

    max-width: 5%;
    height: auto;

  }

  .cartnumber{

    font-size: 20px;


  }

  
  
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover {
          background-color: #111;
        }
      